In [1]:
%load_ext autoreload
%autoreload 2
import pandas as pd
import helpers.cleaning as data_cleaning_utils
import scipy.stats as stats
import helpers.utils as utils
from helpers.constants import *

In [2]:
users_df = data_cleaning_utils.load_qualtrics_csv('data/qualtrics.csv')
users_df = data_cleaning_utils.clean_users_df(users_df, keep_only_prolific_for_india=True, keep_only_prolific_for_us=True, remove_born_outside=True, remove_pilot=True)
users_df['group'] = None
print(len(users_df))

Warning: Some participants were not born in the same country as they currently reside in. ['p-6685e2c5fbd787de3b24a2c2', 'p-66967edf8ce4a54036f34ef8', 'p-668126eea930dfc63e6d7d27', 'p-66190827a12b7445ccc6fc87', 'p-664b329dd41d2f1c1cbac1ad', 'p-664a8fa9dcc9b3525dd0627a', 'p-6672e323325f446e7d0989b1', 'p-63103bd06b5135122e25d6c6', 'p-667d73c6c567edc939cbfe30', 'p-66718d62dbfa3d0df3d19c65', 'p-669ff9394403872002cad24a', 'p-66a3abd870ee7ff1a47e2cdf']
Removing users who were not born in the same country as they currently reside
118

In [ ]:
events_df, tasks_df, suggestions_df = utils.construct_dfs_for_analysis(users_df, EVENTS_DIR, TREATMENT_LABEL, CONTROL_LABEL)

Short Shwartz Value Survey analysis

In [4]:
ssvs_cols = users_df.columns[users_df.columns.str.startswith('ssvs')].tolist()
df_ssvs = users_df[~users_df['ssvs_achievement'].isna()][['country'] + ssvs_cols]
df_ssvs = utils.compute_ssvs_scores(df_ssvs)

In [5]:
# Perform Shapiro-Wilk test for normality
utils.perform_normality_test(df_ssvs, ssvs_cols + ['conservation', 'transcendence'], filter_col='country', filter_vals=['IND', 'US'])

                    col shapiro_IND  shapiro_US
0            ssvs_power  Not normal  Not normal
1      ssvs_achievement  Not normal  Not normal
2         ssvs_hedonism  Not normal  Not normal
3      ssvs_stimulation  Not normal  Not normal
4   ssvs_self-direction  Not normal  Not normal
5     ssvs_universalism  Not normal  Not normal
6      ssvs_benevolence  Not normal  Not normal
7        ssvs_tradition  Not normal  Not normal
8       ssvs_conformity  Not normal  Not normal
9         ssvs_security  Not normal  Not normal
10         conservation  Not normal      Normal
11        transcendence      Normal      Normal

In [6]:
# Compute statistical significance between participants from India and US

df_stats = utils.perform_statistical_test(df_ssvs, ssvs_cols + ['conservation', 'transcendence'],
                               filter_col='country', filter_vals=['IND', 'US'], test_name='mannwhitney')
df_stats

Stats for the paper

In [7]:
users_df.groupby(['country', 'group']).size()

country  group
IND      AI       36
         No AI    24
US       AI       29
         No AI    29
dtype: int64

In [10]:
# Stats for user demographics table
for country in users_df.country.unique():
    dft = users_df[users_df.country == country]
    print(f'Country: {country}')
    print(f'Num participants: {len(dft)}')
    age_mean, age_std = dft.age.astype(int).mean(), dft.age.astype(int).std()
    print(f'Age: {age_mean:.2f} ± {age_std:.2f}')

    genders = dft.gender.value_counts(normalize=True).to_dict()
    print("Gender", genders)

    education = dft.education.value_counts(normalize=True).to_dict()
    print("Education", education)

    languages = dft.languages.tolist()
    print("Languages (dedup using ChatGPT)", languages)

    occupations = dft.occupation.tolist()
    print("Occupations (dedup using ChatGPT)", occupations)

    print()

Country: IND
Num participants: 60
Age: 33.38 ± 11.85
Gender {'Male': 0.7166666666666667, 'Female': 0.26666666666666666, 'Prefer not to say': 0.016666666666666666}
Education {'Graduation': 0.43333333333333335, 'Post-graduation': 0.4166666666666667, 'Upto grade 12 (Inter)': 0.15}
Languages (dedup using ChatGPT) ['Konkani, English and Hindi', 'English, Malayalam, Hindi, Tamil, French', 'Malayalam, English', 'English, Hindi', 'tamil', 'English, Hindi, Gujarati', 'English, Hindi, Punjabi', 'Malayalam, English, Hindi, Tamil', 'English, Hindi, Marathi', 'English, Urdu, Kashmiri', 'Telugu, English, Java, Python', 'English, Kannada, Hindi, Marathi', 'English, Hindi, Malayalam, Tamil ', 'English, Telugu, Hindi ', 'English, Hindi, Punjabi, Gujarati, Urdu and basic German', 'Hindi, English, Marathi', 'English, malayalam, hindi, tamil', 'English, Hindi', 'English', 'English, Hindi', 'English, Hindi, French', 'Hindi, English, German, Sanskrit', 'Marathi English Hindi', 'Hindi, Marathi, English and French', 'English, Hindi, Punjabi', 'English, Telugu, Hindi', 'Hindi English', 'English, Hindi', 'Hindi, English and Bengali', 'Malayalam, English, Hindi', 'Tamil, English', 'English,Hindi', 'English, Tamil', 'English, Marathi, Hindi, Sanskrit', 'Tamil, English, Hindi, Telugu', 'English and hindi', 'english, hindi', 'Hindi, English', 'English, Bengali,Hindi', 'Hindi, Urdu, Marathi, English.', 'English, Hindi, Marathi', 'English, Telugu, Hindi', 'English, Hindi, Punjabi', 'English, Hindi', 'English, Kannada', 'Punjabi, Hindi, English', 'English', 'English, Malayalam, Hindi', 'English, Hindi, Tamil, Gujarathi', 'English', 'English, Hindi, Telugu', 'ENGLISH, HINDI', 'Hindi, English, Urdu', 'Telugu, English, Hindi', 'English, Hindi, Nepali', 'English, Hindi, Punjabi', 'English, Hindi, Punjabi and Bengali.', 'HINDI, ENGLISH, GARHWALI', 'Malayalam, English, Hindi', 'Hindi, English, Malayalam, Gujarati']
Occupations (dedup using ChatGPT) ['Counsellor', 'Designer', 'self employed', 'Software Engineer', 'education', 'Freelancer/Consultant', 'Self employed', 'Development Professional', 'Accounting and Finance', 'Student', 'Software Dev', 'Program manager', 'Sales Engineer', 'Software Engigneer', 'Tech entrepreneur, educator and designer', 'Self employed', 'Student', 'Student', 'Student', 'Business', 'IT', 'Student', 'Student', 'finance ', 'Designer', 'Data Analytics', 'Student', 'Teacher', 'Service', 'Student', 'Freelancer', 'Employee', 'Entrepreneur', 'User Experience Designer', 'Assistant Professor', 'Self employed ', 'student', 'Academician', 'Salaried', 'Data Analyst(searching for the job)', 'Freelancer', 'Student', 'Student', 'Sales & Marketing', 'Writer', 'Software Engineer', 'Student', 'Freelancer', 'IT', 'Engineer', 'Academics', 'Intern', 'Doctor', 'Software Engineer', 'Tech Consultant', 'Student', 'Online Tutor', 'Employee in PSU', 'Private company employee', 'Student']

Country: US
Num participants: 58
Age: 36.07 ± 13.52
Gender {'Female': 0.5, 'Male': 0.4827586206896552, 'Non-binary / third gender': 0.017241379310344827}
Education {'Post-graduation': 0.5, 'Graduation': 0.39655172413793105, 'Upto grade 12 (Inter)': 0.08620689655172414, 'No formal schooling': 0.017241379310344827}
Languages (dedup using ChatGPT) ['English', 'English ', 'English', 'English', 'English', 'English', 'English', 'English', 'English, Vietnamese', 'English, some Korean', 'english', 'English', 'English', 'English and Spanish', 'English and French ', 'English', 'english', 'English', 'English', 'English', 'english', 'English, Spanish', 'English, Italian, French', 'english', 'English', 'English', 'English', 'English', 'English', 'English', 'English', 'english, asl', 'English', 'English', 'English', 'English, Japanese', 'English', 'English', 'English', 'English', 'English', 'English', 'English', 'English', 'English', 'English, some German', 'English', 'English and Spanish', 'English, some Spanish', 'English', 'English', 'English, Spanish, Indonesian', 'English and Chinese', 'English', 'English', 'English ', 'English, Spanish', 'English']
Occupations (dedup using ChatGPT) ['Cook', 'Homemaker', 'Interventionist', 'Director', 'US ARMY', 'Unemployed', 'Retail worker', 'IT', 'Copywriter', 'full time ph.d. student', nan, 'Unemployed', 'Finance', 'Postdoctoral scholar', 'Food Service Employee', 'unemployed', 'Software development', 'Unemployed', 'teacher', 'Transportation', 'caretaker', 'Software Engineer', 'Graphic Artist', 'manager', 'Veterinary Assistant', 'Certified Oil Lube Technician 3', 'Disabled ', 'health care worker', 'IT Manager', 'Developer', 'Operator', 'home health', 'software developer', 'Unemployed', nan, 'video editor', 'security', 'Driver', 'Marketing/Sales', 'Project Engineer', 'Data Analyst', 'Unemployed and searching', 'Sales', 'IT', 'Real Estate Associate ', 'Student Assistant for a library ', 'construction ', 'Team Leader', 'School Secretary', 'Homemaker', 'Teaching Assistant', 'Business Owner', 'Marketing', 'resarcher', 'Transcriber', 'Consultant ', 'Healthcare', 'Retired, formerly a technical writer']

In [15]:
# Remove users with no AI use (presumably they didn't engage meaningfully with the study)??
ai_reliance_per_user = tasks_df.groupby('user_id')['ai_reliance'].mean()

users_with_no_ai_use = ai_reliance_per_user[ai_reliance_per_user == 0].index.tolist()
print(f"{len(users_with_no_ai_use)} users with no AI use:\n{users_df.loc[users_with_no_ai_use]['country'].value_counts()}")

# users_df = users_df[~users_df.index.isin(users_with_no_ai_use)]
# tasks_df = tasks_df[tasks_df['user_id'].isin(users_df.index)]

1 users with no AI use:
US    1
Name: country, dtype: int64